<div class="container p-4">
  <h2 class="text-center">Masuk Sistem Bimbingan</h2>

  <%= bootstrap_form_with(model: resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="container">
      <div class="row gy-3">
        <div class="col-12">
          <%= f.text_field :username, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="col-12">
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="col-12">
            <%= f.check_box :remember_me %>
          </div>
        <% end %>
        <div class="col">
          <%= f.primary "Masuk" %>
        </div>
      </div>
    </div>
  <% end %>
  <%= render "users/shared/links" %>
</div>
