<div class="container p-4 mt-5 pt-5" style="max-width: 400px">
  <% if alert %>
    <div class="alert alert-danger">
      <%= alert %>
    </div>
  <% end %>

  <h3 class="text-center mb-4">Masuk Sistem Bimbingan</h3>

  <%= bootstrap_form_with(model: resource, as: resource_name, url: session_path(resource_name), html: {"data-turbo": false}) do |f| %>
    <div class="container">
      <div class="row gy-3">
        <div class="col-12">
          <%= f.text_field :username, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="col-12">
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="col-12">
            <%= f.check_box :remember_me %>
          </div>
        <% end %>
        <div class="col">
          <%= f.primary "Masuk" %>
        </div>
      </div>
    </div>
  <% end %>
  <%= render "users/shared/links" %>
</div>
