<h2 class="text-center">Edit Data Pendaftaran Skripsi</h2>
<%= render "registration_status" %>

<%= render "user_form" %>
<%= bootstrap_form_with(model: @essay_proposal) do |f| %>
  <%= f.text_field :title %>
  <%= f.file_field_with_preview(:outline_file, accept: "application/pdf") %>
  <%= f.file_field_with_preview :form_file, accept: "application/pdf" %>
  <%= f.file_field_with_preview :kkp_report_submission_proof_file, accept: "application/pdf" %>
  <%= f.file_field_with_preview :current_krs_file, accept: "application/pdf" %>
  <%= f.file_field_with_preview :payment_proof_file, accept: "application/pdf,image/png,image/jpeg" %>
  <%= f.file_field_with_preview :academic_transcript_file, accept: "application/pdf" %>
  <%= f.primary "Perbarui", render_as_button: true, extra_class: "w-100" %>
<% end %>
