<%= render(SmallContainerComponent.new) do %>
  <%= render(FlashComponent.new) %>
  <h2 class="text-center">Penyetujuan Berkas Peserta Skripsi</h2>
  <%= render "fields" %>

  <hr>

  <%= bootstrap_form_with(model: @essay_proposal, url: {action: :approve}) do |f| %>
    <%= f.file_field :official_memo, required: true, accept: "application/pdf"  %>
    <%= f.primary "Kirim Nota Dinas Skripsi", render_as_button: true, extra_class: "w-100"%>
  <% end %>
<% end %>