<%= turbo_frame_tag dom_id(@essay_proposal) do %>
  <%= render(SmallContainerComponent.new) do %>
    <%= render(FlashComponent.new) %>
    <%= link_to "< Kembali", essay_proposals_path, "data-turbo-frame": "_top", class: "btn btn-link fw-medium" %>

    <h2 class="text-center">Cek Berkas Peserta Skripsi</h2>
    <%= render "registration_status" %>

    <%= render "fields" %>

    <div class="grid" style="--bs-columns: 1; --bs-gap: 1rem">
      <%= link_to "Tolak",
        essay_proposal_rejection_path(@essay_proposal),
        "data-disable-with": "Menerima...",
        "data-turbo-frame": "_top",
        class: "btn btn-danger" %>
      <%= link_to "Setujui",
        essay_proposal_approval_path(@essay_proposal),
        "data-disable-with": "Menerima...",
        "data-turbo-frame": "_top",
        class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>