<%= turbo_frame_tag dom_id(@kkp_guidance) do %>
  <%= render(SmallContainerComponent.new) do %>
    <%= render(FlashComponent.new) %>
    <h2 class="text-center">Hasil Bimbingan KKP</h2>

    <%= render "revision_message" %>

    <%= render "shared/user_form" %>

    <%= nosubmit_bootstrap_form_with(model: @kkp_guidance) do |f| %>
      <%= f.file_preview :report_file %>
      <%= f.file_preview :score_file %>
    <% end %>

    <%= nosubmit_bootstrap_form_with(model: @kkp_guidance) do |f|%>
      <%= f.telephone_field :supervisor_score_total, readonly: true %>
      <%= f.telephone_field :field_counselor_score_total, readonly: true %>
      <%= f.telephone_field :total_score, readonly: true %>
      <%= f.text_field :grade, readonly: true %>
    <% end %>
  <% end %>
<% end %>