
<h2 class="text-center">Mendaftar kkp</h2>
<%= render "shared/user_form" %>
<%= bootstrap_form_with(url: {action: :create}, model: @kkp_registration) do |f| %>
  <%= f.text_field :entity_name, required: true %>
  <%= f.file_field :khs_semester_6, required: true, accept: "application/pdf" %>
  <%= f.file_field :krs_semester_7, required: true, accept: "application/pdf" %>
  <%= f.file_field :registration_form_file, required: true, accept: "application/pdf" %>
  <%= f.file_field :payment_proof_file, required: true, accept: "application/pdf" %>
  <%= f.file_field :academic_transcript_file, required: true, accept: "application/pdf,image/png,image/jpeg" %>
  <%= f.select :individual,
    KkpRegistration.kkp_type_options,
    {} %>
  <%= f.text_field :members %>
  <%= f.select :entity_type,
    KkpRegistration.entity_type_options,
    {} %>
  <%= f.primary "Mendaftar", render_as_button: true, extra_class: "w-100" %>
<% end %>
