<!DOCTYPE html>
<html>
  <head>
    <title>Aplikasi bimbingan kampus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div id="wrapper">
      <%= render "shared/layout_header" %>
      <%= render "shared/layout_sidebar" %>
      <div id="page-wrapper" >
        <div id="page-inner">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
