<%= render(SmallContainerComponent.new) do %>
  
  <%= render(FlashComponent.new) %>
  <h2 class="text-center">Penolakan Bimbingan KKP</h2>

  <%= render "revision_message" %>

  <%= nosubmit_bootstrap_form_with(model: current_user) do |f| %>
    <%= f.text_field :id_number, readonly: true %>
    <%= f.text_field :name, readonly: true %>
  <% end %>

  <%= bootstrap_form_with(model: @kkp_guidance, url: {action: :reject}) do |f| %>
    <%= f.rich_text_area :revision_message, required: true, label: "Pesan revisi yang akan dikirim" %>
    <%= f.primary "Kirim revisi", extra_class: "w-100"%>
  <% end %>
<% end %>